# Visual Studio
.vs/

# Build folders
bin/
obj/

**/bin/
**/obj/

# فایل‌های کاربری Visual Studio
*.user
*.suo

# فایل‌های تنظیمات محلی
*.local

# پوشه پوشیده شده توسط Rider یا IDE های JetBrains
.idea/

# فایل‌های لاگ
*.log

# فایل‌های خروجی
*.dll
*.exe
*.pdb

node_modules/

Go_Home.txt
